.min-stay {
  .card {
    border: 1px solid rgba($alt-color, 0.2);
    background-color: $color-white;

    .rental__switch-wrapper {
      padding: 20px;
    }

    &__heading {
      margin-bottom: 4px;
    }

    &__title {
      font-weight: 700;
      color: $base-color-darken;
      margin: 0;
    }

    &__description {
      color: rgba($base-color-darken, 0.7);
      font-size: 0.875rem;
      margin: 0;
    }
  }
  .weekday {
    width: 77px;

    @include fromTablet {
      width: 140px;
    }
  }
  .room-type-col {
    min-width: 200px;
    box-sizing: border-box;
  }
  .--settings {
    padding-right: 0;
    padding-left: 0;
    min-width: 150px;
  }
}
