html {
  background-color: $body-bg;
  color: $base-color;
  font-family: 'Roboto', sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  overflow-x: hidden;
  min-height: 100vh;
}

svg {
  outline: none;
  stroke: currentColor;
  fill: none;
  max-width: unset;

  &.--no-stroke {
    stroke: none;
  }
}

a, .uk-link {
  font-size: 12px;
  text-decoration: underline;

  &,
  &:hover {
    color: $global-link-color;
  }

  &:hover {
    text-decoration: none;
  }

  @include fromTablet {
    font-size: 14px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.main-info {
  color: $base-color-darken;
}

.content {
  padding: 0 18px;

  @include fromTablet {
    padding: 0 30px;
  }
}

.question-tooltip {
  color: $primary-color;
  margin-top: -8px;
  outline: none;
}

[uk-tooltip] {
  outline: none;
}
