.date-picker-icon {
  right: 10px;
  pointer-events: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: -20px;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  outline: none;
  box-sizing: border-box;
}

.dhx_widget.dhx_popup {
  z-index: 1221;
  margin-top: -1px;
}

.date-range {
  min-width: 220px;
  width: 250px;

  .dash {
    padding: 0 6px;
  }
}
