.uk-dropdown {
  min-width: 150px;
  padding: 14px;
  border-radius: $base-radius / 2;

  box-shadow: 0px 0px 10px rgba($base-color-darken, 0.15);
  

  li {
    &:first-child {
      a, .uk-nav__link {
        padding-top: 0;
      }
    }
    &:last-child {
      a, .uk-nav__link {
        padding-bottom: 0;
      }
    }
  }
  &-nav {
    font-size: 0.75rem;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      a, .uk-nav__link {
        background-color: transparent;
        border: 0;
        font-size: inherit;
        height: auto;
        display: block;
        width: -webkit-fill-available;
        text-align: left;
        color: $dropdown-nav-item-color;
        cursor: pointer;
        padding: 10px 0 10px 20px;
        position: relative;

        .icon {
          position: absolute;
          left: 0;
        }
        &:hover {
          color: $dropdown-nav-item-hover-color;
          text-decoration: none;
        }
      }
    }
  }
}
